@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bgPrimary: #0a0f1a;
  --bgSecondary: lab(96.1596 -0.082314 -1.13575);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--bgPrimary);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
